@import "@src/assets//styles//abstracts/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  position: relative;

  .eye {
    user-select: none;
    aspect-ratio: 1 / 1;
    width: 25px;
    display: grid;
    place-items: center;
    color: $clr-add;
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: $space-4;
  }
}

.wrapper label {
  font-size: 1.4em;
  font-weight: 600;
  color: $clr-white;
}

.input {
  outline: none;
  border: solid 1px $clr-secondary;
  margin: $space-12 0;
  border-radius: $space-4;
}
