@import "src/assets//styles//abstracts/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  .error-field {
    overflow: hidden;
    color: $clr-alert;
    font-size: 1em;
    transform: scaleY(0);
    opacity: 0;

    transform-origin: top;

    transition: transform 300ms ease-in, opacity 300ms ease-in;

    &.open {
      transform: scaleY(1);
      opacity: 1;

      @starting-style {
        transform: scaleY(0);
        opacity: 0;
      }
    }
  }

  .relative {
    display: flex;
    position: relative;

    display: flex;
    align-items: center;
    column-gap: $space-16;

    a {
      text-decoration: none;
      color: $clr-add;
    }

    .eye {
      user-select: none;
      aspect-ratio: 1 / 1;
      display: grid;
      place-items: center;
      color: $clr-add;
      cursor: pointer;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $space-10;

      i {
        font-size: 1.6em;
      }
    }
  }

  label {
    font-size: 1.4em;
    font-weight: 600;
    color: $clr-white;
  }
}

.wrapper-checkbox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $space-12;
}

.wrapper-checkbox label {
  font-size: 1.2em;
  font-weight: 700;
}

.input {
  width: 100%;
  outline: none;
  border: solid 1px $clr-secondary;
  margin: $space-12 0;
  border-radius: $space-4;
}

.input[type="checkbox"] {
  cursor: pointer;
  padding: $space-12;
  width: $space-12;
  aspect-ratio: 1 / 1;

  @media (min-width: $screen-600) {
    width: $space-20;
  }
}

.input.error {
  border-color: $clr-alert;
  color: $clr-alert;
  border-color: $clr-alert;
}

.absolute {
  position: absolute;
}
