$clr-secondary: #eee;
$clr-white: #fff;
$clr-primary: #000;
// $clr-add: #8a94b7;
$clr-add: #6b8e23;
// $clr-add-2: #b0a8b9;
$clr-add-2: #c0c0c0;
$clr-alert: crimson;

$space-4: 4px;
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-36: 36px;
$space-100: 100px;
