$clr-secondary: #eee;
$clr-primary: #000;
$clr-azure: rgb(6, 167, 97);

$space-4: 4px;
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-36: 36px;
$space-100: 100px;
