@import "normalize.css";
@import "abstracts/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Merriweather:wght@400;700&display=swap");

body {
  font-size: 16px;
  font-family: sans-serif;

  background-color: $clr-secondary;
  color: $clr-primary;
  font-family: "Inter", sans-serif;

  h1,
  h2,
  h3 {
    font-family: "Merriweather", serif;
  }

  button {
    color: $clr-add;
    border: solid 1px $clr-add;
    padding: $space-6 $space-12;
  }

  input,
  button {
    padding: $space-6 $space-12;
  }
}
