@import "normalize.css";
@import "abstracts/variables.scss";

body {
  font-size: 16px;
  font-family: sans-serif;

  background-color: $clr-secondary;
  color: $clr-primary;

  button {
    color: $clr-azure;
    border: solid 1px $clr-azure;
    padding: $space-6 $space-12;
  }
}
