// @import "../../assets//styles/abstracts/variables.scss";
@import "src/assets//styles//global.scss";

.form {
  background-color: white;
  border: solid 1px $clr-secondary;
  background-color: $clr-add-2;
  border-radius: $space-12;
  color: $clr-secondary;
  overflow: hidden auto;

  display: flex;
  flex-direction: column;
  row-gap: 1em;
  max-height: 90dvh;

  margin: 10vh auto;
  max-width: 90%;
  font-size: 0.75rem;

  @media (min-width: 600px) {
    margin: 20vh auto;
    max-width: 500px;
    font-size: 1rem;
  }

  h1 {
    margin: 0;
    text-align: center;
    background-color: $clr-add;
    padding: $space-12;
  }

  .main {
    padding: 0 $space-24 0.5em $space-24;
  }

  input,
  button {
    padding: 0.75em 1em;
  }
}

hr {
  margin: 1em 0;
}
